{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Cookbook Recipes</h3>

<p class="center-align">Welcome to Coobook Recipes, feel free to make your own recipe</p>


<div class="carousel carousel-slider center">
     <div class="carousel-item center" href="#one!">
      <img src="https://images.pexels.com/photos/998246/pexels-photo-998246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Pasta Carbonara" class="first_image">
     </div>
    <div class="carousel-item center" href="#two!">
      <img src="https://images.pexels.com/photos/291528/pexels-photo-291528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Chocolate Cake" class="second_image">
    </div>
    <div class="carousel-item center" href="#three!" alt="chocolate cake" class="third_image">
       <img src="https://images.pexels.com/photos/6210933/pexels-photo-6210933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Roast Chicken" class="third_image">
    </div>
    <div class="carousel-item center" href="#four!" alt="chocolate cake" class="fourth_image ">
      <img src="https://images.pexels.com/photos/5337811/pexels-photo-5337811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" 
      alt="Grilled Chicken Sandwich" class="fourth_image">
    </div>
  </div>
{% endblock %}