{% extends "index.html" %}
{% block content %}

<h3 class="center-align ">Recipes</h3>
<form>
<div class="input-field">
  <input id="search" type="search" placeholder="Search for recipe" required>
  <label class="label-icon" for="search"><i class="material-icons"></i></label>
  </div>
</form>
  <main class="container">
   
    <div class="row">
       {% for recipe in recipes %}
      <div class="col s12 m5 ">
        <div class="card">
          <div class="card-image">
            <img src=""alt="">
          </div>
          <div class="card-content  blue-grey lighten-5">
            <span class="card-title">{{ recipe.recipe_name}}</span>
            <p></p>
          </div>
          <div class="card-action grey darken-4">
            <a href="">More details</a>
            <a href="">View Ingredients</a>
            <a href="#" class="btn blue accent-4">Edit</a>
            <a href="#" class="btn red">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</main>
 
{% endblock %}  
  