<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"type="text/css">
    <title>Cookbook Recipes</title>
</head>
<body>
    <header>
        <!-- top navbar-->
        <nav class="grey darken-4">
            <div class="nav-wrapper">
              <a href="{{url_for('home')}}" class="brand-logo">Cookbook Recipes</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('recipes')}}">Recipes</a></li>
                </ul>
            </div>
          </nav>
           <!-- mobile sidenav-->
          <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('recipes')}}">Recipes</a></li>
          </ul>
</header>

    
<h3 class="center-align ">Recipes</h3>

<main class="container">

<div class="row">
   <div class="col s12 m6 l3">
      <div class="card center-align">
        <div class="card-image">
          <img src="images/sample-1.jpg">
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
    
 </main>
 

 <footer class="page-footer grey darken-1">
     <div class="footer-copyright">
          <div class="container">
          The collective cookbook recipe website
          <a class="white-text right" target="_blank">&copy; Cookbook Recipes</a>
          </div>
        </div>
      </footer>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

    
</body>
</html>



