{% extends "index.html" %}
{% block content %}

<h3 class="center-align ">Recipes</h3>

<div class="row">
  <div class="col s12 center-align">
      <a href="{{ url_for('add_recipe') }}" class="btn-large grey darken-4">
          Add Recipe <i class="fas fa-plus-square right"></i>
      </a>
  </div>
</div>

<form>
  <div class="input-field">
    <input id="search" type="search" placeholder="Search for recipe" required>
    <label class="label-icon" for="search"><i class="material-icons"></i></label>
    </div>
</form>
  <main class="container">
   
    
    <div class="row">
      {% for recipe in recipes %}
      <div class="col s12 m5 ">
        <div class="card  grey darken-4">
          <div class="card-image">
            <img src="{{ recipe.image_url }}"  class="responsive-img">
            </div>
          <div class="card-content">
            <span class="card-title white-text">{{ recipe.recipe_name }}</span>
            <p class="white-text">{{ recipe.recipe_description }}</p>
            </div>
          
          <div class="card-action">
            <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn blue accent-4">Edit</a>
            <a href="#modal-{{ recipe.id }}" class="btn red modal-trigger">Delete</a>
            
            <!-- Modal -->
            <div id="modal-{{ recipe.id }}" class="modal">
              <div class="modal-content"> 
                <h4>Are you sure want to delete this Recipe?</h4>
                <p>This action cannot be undone</p>
            </div>
            <div class="modal-footer">
              <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="btn red">Delete</a>
              <a href="modal-close" class="btn blue accent-4">Cancel</a>
            </div>
           </div>
            </div>
          </div>
        </div>
      </div>
       {% endfor %}
    </div>
</main>
 
{% endblock %}  
  